.transparent{
    -fx-background-color: rgba(0, 0, 0, 0);
}

.meal-button{
    -fx-background-color: #270d75;
    -fx-background-radius: 30;
    -fx-cursor: hand;
}
.meal-button:hover{
    -fx-background-color: #33158c;
}
.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0,0.1), 10.0, 0, 0, 10.0);
}

.gradient{
    -fx-background-color: linear-gradient(to bottom right, #1642c7, #a0b5f2);
}